@import "tailwindcss";
:root {
  

  color-scheme: light dark;
  background-color: #ffffffde;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
